#board {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  border: 4px solid rgb(24, 124, 24);
  background-color: green;
  margin: auto;
  height: auto;
}
.cell {
  background-color: green;
  border: 2px solid rgb(72, 122, 72);
  width: 9.35%;
  height: 55px; 
}
.gun {
  background-image: url("/images/gun.png");
  background-size: 100% 100%;
}
.machinegun {
  background-image: url("/images/machinegun.png");
  background-size: 100% 100%;
}
.ak47 {
  background-image: url("/images/ak47.png");
  background-size: 100% 100%;
}
.mwiko {
  background-image: url("/images/mwiko.png");
  background-size: 100% 100%;
}
.player1 {
  background-image: url("/images/player.png");
  background-size: 100% 100%;
}
.obstacle {
  background-image: url("/images/obstacle.png");
  background-size: 100% 100%;
}
.player2 {
  background-image: url("/images/soldier.png");
  background-size: 100% 100%;
}
.player1moves{
  background-color: white;
  border: 2px solid red;
}
.player2moves{
  background-color: white;
  border: 2px solid black;
}