body {
  font-family: "Lato", sans-serif;
}
#players{
  display: flex;
 margin-left:30%;
}
#start-screen{
  background-color: rgb(186, 243, 186);
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 3%;
  border-radius:1% ;
}
#end-game{
  display: none;
}
#end-screen{
  display: none;
  position: absolute;
  top: 30%;
  left: 12%;
  background-color: rgb(186, 243, 186);
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 3%;
  border-radius:1% ;
}
.start-button{
  padding: 2%;
  width: 30%;
  border-radius: 5%;
  font-size: 20px;
}
.start-button:hover{
  background-color: red;
  color: white;
}
#start{
  background-color: rgb(46, 122, 46);
  border: 2px solid white;
  color: white;
}
#start:hover{
  color:red;
}
#instructions{
  border: 2px solid red;
}
#instructions-modal{
  display: none;
  background-color: rgb(186, 243, 186);
  width: 70%;
  margin: auto;
  padding: 2%;
  border-radius:1% ;
}
#close-instructions{
  background-color: rgb(201, 32, 32);
  border: 2px solid white;
  color: white;
}
#end{
  background-color: rgb(201, 32, 32);
  border: 2px solid white;
  color: white;
}
#end:hover{
  background-color: white;
  border: 2px solid rgb(201, 32, 32);
  color: red; 
}
#main{
  display: none;
}
#player1info  {
  background-color: rgb(81, 145, 81);
  width: 21%;
  margin: 2%;
  font-weight: bold;
  font-size: 24px;
}
#player2info{
  background-color: rgb(81, 145, 81);
  width: 21%;
  margin: 2%;
  font-weight: bold;
  font-size: 24px;
 
}
#fight-message{
  display: none;
  background-color: red;
  color: white;
  width: 20%;
  position: absolute;
  top: 30%;
  left: 40%;
  height: 25px;
  font-weight: bold;
  text-align: center;
  padding: 2%;
  font-size: 24px;
  border-radius: 3%;
}
.fight-button{
  width: 30%;
  border: 2px solid white;
   border-radius: 5%;
   padding: 2%;
}
.fight-button:hover{
  background-color: white;
  color: red;
}
.fight-button-attack{
 background-color: red;
 color: white;
 
}
.fight-button-defend{
  background-color: green;
  color: white;
}
.centered{
  text-align: center;
}
.player-img{
  width: 100px;
  height: 100px;
}
.weapon{
  width: 50px;
  height: 50px;
}
#board {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4;
  border: 4px solid rgb(24, 124, 24);
  background-color: green;
  margin: auto;
  height: auto;
}
.cell {
  background-color: green;
  border: 2px solid rgb(72, 122, 72);
  width: 9.35%;
  height: 55px; 
}
.gun {
  background-image: url("../images/gun.png");
  background-size: 100% 100%;
}
.machinegun {
  background-image: url("../images/machinegun.png");
  background-size: 100% 100%;
}
.ak47 {
  background-image: url("../images/ak47.png");
  background-size: 100% 100%;
}
.mwiko {
  background-image: url("../images/mwiko.png");
  background-size: 100% 100%;
}
.spoon {
  background-image: url("../images/spoon.png");
  background-size: 100% 100%;
}
.player1 {
  background-image: url("../images/player.png");
  background-size: 100% 100%;
}
.obstacle {
  background-image: url("../images/obstacle.png");
  background-size: 100% 100%;
}
.player2 {
  background-image: url("../images/soldier.png");
  background-size: 100% 100%;
}
.player1moves{
  background-color: white;
  border: 2px solid red;
}
.player1moves:hover{
  background-color: rgb(241, 193, 193);
  border: 2px solid rgb(236, 121, 121);
}
.player2moves{
  background-color: white;
  border: 2px solid black;
}
.player2moves:hover{
  background-color: rgb(204, 157, 157);
  border: 2px solid rgb(105, 83, 83);
}
#player2fightbuttons{
  display: none;
}
#player1fightbuttons{
  display: none;
}